<footer>
  <small>
    Создано на основе проекта <a href="https://www.11ty.io/">Eleventy</a>.
    А также <a href="https://www.netlify.com/">Netlify</a> Скачать проект <a href="https://github.com/shishak/eleventy">GitHub</a>
  </small>
</footer>
