<footer>
  <small>
    Создано на основе проекта <a href="https://www.11ty.io/">Eleventy</a>.
    А также <a href="https://www.netlify.com/">Netlify</a> Больше информации <a href="https://github.com/">Netlify</a>
  </small>
</footer>
