<footer>
  <small>
    На основе статического генератора <a href="https://www.11ty.io/">Eleventy</a>. Хостинг от <a href="https://www.netlify.com/">Netlify</a>. Скачать проект <a href="https://github.com/shishak/eleventy">GitHub</a>
  </small>
</footer>
