---
layout: layouts/base.njk
section: notes
---

<article>

 <p class="meta">
    <small>
      <time datetime="{{ date | machineDate }}">{{ date | readableDate }}</time> by {{ metadata.author.name }}
    </small>
  </p>

  {% if notitle != "true" %}<h1>{{ title }}</h1>{% endif %}
 

  {{ layoutContent | safe }}

 

</article>

<nav>
  <a href="{{ '/notes/' | url }}">← Notes</a>
</nav>
